[Unit]
Description=Phorum Daemon
Requires=phorum.socket
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/phorum --config /etc/phorum/config.toml launch
FileDescriptorStoreMax=1
DynamicUser=true
Restart=on-failure

[Install]
WantedBy=multi-user.target