[Unit]
Description=Phorum Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/phorum --config /etc/phorum/config.toml launch
Restart=always
User=phorum
Group=phorum

[Install]
WantedBy=multi-user.target